beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
chardet==3.0.4
click==8.0.3
Flask==1.1.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.3
langdetect==1.0.9
MarkupSafe==2.0.1
requests==2.25.0
six==1.16.0
soupsieve==2.3.1
urllib3==1.26.8
waitress==2.0.0
Werkzeug==2.2.3