.card-tr {
    text-align: left;
}

.card-tr:hover {
    background-color: lightblue;
}

.wrapper {
    margin: 5px;
}

.status {
    font-size: small;
    margin: 5px;
}

.spinner {
    position: relative;
    height: 100px;
}

.spinner div {
    position: absolute;
    left: 50%;
    bottom: 0;
}